mixin registerForm()
  form.form(action="/register" method="POST")
    h2= title
    label(for="name") Nombre
    input(type="name" name="name" required)
    label(for="email") Email
    input(type="email" name="email" required)
    label(for="password") Contraseña
    input(type="password" name="password" required)
    label(for="password-confirm") Confirmar contraseña
    input(type="password" name="password-confirm" required)
    input.button(type="submit" value="Registro")
